<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
    <title>Calendar</title>
</head>

<body>
    <div class="" id="allapp">
        <h1>contiene toda la ap</h1>
        <div class="" id="header">
            <div class="" id="clock">
            </div>
            <div class="" id="buttons">
            </div>
        </div>
        <div class="" id="middle">
            <div class="" id="inputs">
                <div class="" id="to-do">
                </div>
                <div class="" id="reminder">
                </div>
            </div>
            <div class="" id="database">
            </div>
            <div class="" id="viewoptions">
            </div>
        </div>
    </div>
</body>

</html>
