<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../client/css/clock.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../client/css/styles.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Prompt|Monda" rel="stylesheet">
    <title>Calendar</title>
</head>

<body>
    <div class="" id="allapp">
        <div class="" id="header">
            <div class="wrap" id="clock">
                <div class="widget">
                    <div class="fecha">
                        <p id="diaSemana" class="diaSemana"></p>
                        <p id="dia" class="dia"></p>
                        <p>de </p>
                        <p id="mes" class="mes"></p>
                        <p>del </p>
                        <p id="year" class="year"></p>
                    </div>
                    <div class="reloj">
                        <p id="horas" class="horas"></p>
                        <p>:</p>
                        <p id="minutos" class="minutos"></p>
                        <p>:</p>
                        <div class="caja-segundos">
                            <p id="ampm" class="ampm"></p>
                            <p id="segundos" class="segundos"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="buttons">
                <button type="button" class="add" id="add">Agregar</button>
                <button type="button" class="removeAll" id="removeAll">Borrar todo</button>
                <button class="newEvent">Nuevo</button>
                <button class="seeAll">Ver todos</button>
                <button class="seeDateHour">Ver fecha</button>
            </div>
        </div>
        <div class="" id="middle">
            <div class="" id="inputs">
                <div class="" id="to-do">
                    <input type="text" id="inputEventT" placeholder="Evento Tarea">
                    <input class="" type="datetime-local" id="startEventT" placeholder="Comienza">
                    <input class="" type="datetime-local" id="endEventT" placeholder="Finaliza">
                    <select name="options" id="categoryInputT">
                        <option value="" disabled selected>Categoria</option>
                        <option value="Bandas">Bandas</option>
                        <option value="Deportes">Deporte</option>
                        <option value="Personales">Personales</option>
                        <option value="Sociales">Sociales</option>
                        <option value="Trabajos">Trabajos</option>
                        <option value="Tramites">Trámites</option>
                    </select>
                </div>
                <div class="" id="reminder">
                    <input type="text" id="inputEventR" placeholder="Evento Recordatorio">
                    <input class="" type="datetime-local" id="startEventR" placeholder="Comienza">
                    <input class="" type="datetime-local" id="endEventR" placeholder="Finaliza">
                    <select name="options" id="categoryInputR">
                        <option value="" disabled selected>Categoria</option>
                        <option value="Bandas">Bandas</option>
                        <option value="Deportes">Deporte</option>
                        <option value="Personales">Personales</option>
                        <option value="Sociales">Sociales</option>
                        <option value="Trabajos">Trabajos</option>
                        <option value="Tramites">Trámites</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="" id="database">
            </div>
            <div class="" id="viewoptions">
                <div class="" id="viewoptionsbydate">
                    <button class="today">Hoy</button>
                    <button class="week">Semana</button>
                    <button class="month">Mes</button>
                    <button class="next">Próximos</button>
                </div>
                <div class="" id="viewtodolist">
                    <ul class="" id="list">
                </div>
            </div>
        </div>
        <div class="">
            <table class="">
                <thead class="">
                    <tr class="">
                        <th class="">Comienza</th>
                        <th class="">Finaliza</th>
                        <th class="">Evento</th>
                        <th class="">Categoria</th>
                        <th class="">Log</th>
                    </tr>
                    <tbody class="">
                        <!-- Aca se muestran los eventos-->
                    </tbody>
            </table>
        </div>
    </div>
    <script src="../client/js/jquery.js"></script>
    <script src="../client/js/placeholder.js"></script>
    <script src="../client/js/clock.js"></script>
    <script src="../client/js/to-do.js"></script>
    <script src="../client/js/agenda.js"></script>

</body>

</html>
